body{
    font-family:monospace;
    background-color: #c1c1c1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.timer{
    width: 100px;
    padding: 30px;
    text-align: center;
    font-size: large;
    color: #f3f3f3;
    background-color: #171717;
    border-radius: 8px 8px 0px 0px;
}

.botoes {
    width: 130px;
    text-align: center;
    padding: 15px;
    background: #f3f3f3;
    border-radius: 0px 0px 8px 8px;
}

.start{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 600;
    color:green;
}

.pause{
    color:rgb(102, 117, 27);
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 600;
}

.reset{
    color:rgb(138, 13, 13);
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 600;
}


